@using System.Configuration;
@using System.Linq;
@using System.Web.Optimization

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PhotoGallery";
    var complete = false;
    DataClassesDataContext dcdc = new DataClassesDataContext();
    IQueryable<Pics> pics = from item in dcdc.Pics select item;
}

@section featured {
    <section class="featured">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="#">PhotoGallery</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="Galery.cshtml">Главная</a></li>
                <li><a href="Default.cshtml">Редактирование</a></li>
            </ul>
        </nav>
    </section>
}

@helper RenderForm(bool complete, IQueryable<Pics> pics)
{
    @Html.ValidationSummary(true)
    <div class="jumbotron row" style="padding-left: 20px;">

        @foreach (var elem in pics)
        {
            <div class="col-md-2 col-sm-4 col-xs-6" style="display: inline-block; width: 220px; border-width: 5px; border-style: double; padding-left: 10px;">
                <a class="fancyimage" data-fancybox-group="group" href="~/Content/pics/@elem.Name">
                    <img src="~/Content/pics/@elem.Name" class="img-rounded" style="width: 195px; height: 195px;" alt=""/>
                </a>
                <div class="form-group" style="text-align: center;">
                    <label for="comment">Описание:</label>
                    <br />
                    <textarea type="text" readonly="true" name="Text @elem.Id" style="width: 175px; height: 100px; resize: none; ">@elem.Discription</textarea>
                </div>
            </div>

        }

    </div>
   
}

@RenderForm(complete, pics)

